{% extends 'base.html.twig' %}

{% block body %}

	<div class="text-center">
		<h2>Membres BDE</h2>
	</div>
	<div class="accordion-inner">
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Pseudo</th>
						<th>Email</th>
						<th>Update</th>
						<th>Delete</th>
					</tr>
				</thead>
				<br/>
				<tbody>
			    {% for user in users %}
			    {% for role in user.roles if role == "ROLE_BDE" %}
			        <tr>
			            <td>{{ user.username }}</td>
			            <td>{{ user.email }}</td>
			            
						<td><button href="" type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   Modifier</button></td>
						<td><button href="" type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>   Supprimer</button></td> 

			        </tr>
			    {% endfor %}
			    {% endfor %}

			    </br>
					
				</tbody>
			</table>
		</div>
	</div>

		<div class="text-center">
		<h2>Membres CESI</h2>
	</div>
	<div class="accordion-inner">
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Pseudo</th>
						<th>Email</th>
						<th>Update</th>
						<th>Delete</th>
					</tr>
				</thead>
				<br/>
				<tbody>
			    {% for user in users %}
			    {% for role in user.roles if role == "ROLE_CESI" %}
			        <tr>
			            <td>{{ user.username }}</td>
			            <td>{{ user.email }}</td>
			            
						<td><button href="" type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   Modifier</button></td>
						<td><button href="" type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>   Supprimer</button></td> 

			        </tr>
			    {% endfor %}
			    {% endfor %}

			    </br>
					
				</tbody>
			</table>
		</div>
	</div>

		<div class="text-center">
		<h2>Membres Etudiant</h2>
	</div>
	<div class="accordion-inner">
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Pseudo</th>
						<th>Email</th>
						<th>Update</th>
						<th>Delete</th>
					</tr>
				</thead>
				<br/>
				<tbody>
			    {% for user in users %}
			    {% for role in user.roles if role == "ROLE_ETUDIANT" %}
			        <tr>
			            <td>{{ user.username }}</td>
			            <td>{{ user.email }}</td>
			            
						<td><button href="" type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   Modifier</button></td>
						<td><button href="" type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>   Supprimer</button></td> 

			        </tr>
			    {% endfor %}
			    {% endfor %}

			    </br>
					
				</tbody>
			</table>
		</div>
	</div>
    
{% endblock %}