{% extends "::layout/layout.html.twig" %}

{% block body %}

	<div class="text-center">
		<h2>Membres BDE</h2>
	</div>
	<div class="accordion-inner">
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Pseudo</th>
						<th>Email</th>
						<th>BDE</th>
						<th>CESI</th>
						<th>ETUDIANT</th>
					</tr>
				</thead>
				<br/>
				<tbody>
			    {% for user in users %}
			    {% for role in user.roles if role == "ROLE_BDE" %}
			        <tr>
			            <td>{{ user.username }}</td>
			            <td>{{ user.email }}</td>
			            
			            <td><a href="{{ path('edit_form_BDE', {'id': user.id}) }}"><button type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   BDE</button></a></td>

						<td><a href="{{ path('edit_form_CESI', {'id': user.id}) }}"><button type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   CESI</button></a></td>
						
						<td><a href="{{ path('edit_form_ETUDIANT', {'id': user.id}) }}"><button type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   ETUDIANT</button></a></td>

			        </tr>
			    {% endfor %}
			    {% endfor %}

			    </br>
					
				</tbody>
			</table>
		</div>
	</div>

		<div class="text-center">
		<h2>Membres CESI</h2>
	</div>
	<div class="accordion-inner">
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Pseudo</th>
						<th>Email</th>
						<th>BDE</th>
						<th>CESI</th>
						<th>ETUDIANT</th>
					</tr>
				</thead>
				<br/>
				<tbody>
			    {% for user in users %}
			    {% for role in user.roles if role == "ROLE_CESI" %}
			        <tr>
			            <td>{{ user.username }}</td>
			            <td>{{ user.email }}</td>
			            
						<td><a href="{{ path('edit_form_BDE', {'id': user.id}) }}"><button type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   BDE</button></a></td>

						<td><a href="{{ path('edit_form_CESI', {'id': user.id}) }}"><button type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   CESI</button></a></td>
						
						<td><a href="{{ path('edit_form_ETUDIANT', {'id': user.id}) }}"><button type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   ETUDIANT</button></a></td>

			        </tr>
			    {% endfor %}
			    {% endfor %}

			    </br>
					
				</tbody>
			</table>
		</div>
	</div>

		<div class="text-center">
		<h2>Membres Etudiant</h2>
	</div>
	<div class="accordion-inner">
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Pseudo</th>
						<th>Email</th>
						<th>BDE</th>
						<th>CESI</th>
						<th>ETUDIANT</th>
					</tr>
				</thead>
				<br/>
				<tbody>
			    {% for user in users %}
			    {% for role in user.roles if role == "ROLE_ETUDIANT" %}
			        <tr>
			            <td>{{ user.username }}</td>
			            <td>{{ user.email }}</td>
			            
						<td><a href="{{ path('edit_form_BDE', {'id': user.id}, {'id': user.id}) }}"><button type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   BDE</button></a></td>

						<td><a href="{{ path('edit_form_CESI', {'id': user.id}) }}"><button type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   CESI</button></a></td>
						
						<td><a href="{{ path('edit_form_ETUDIANT', {'id': user.id}) }}"><button type="button" class="btn btn-danger active btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   ETUDIANT</button></a></td> 

			        </tr>
			    {% endfor %}
			    {% endfor %}

			    </br>
					
				</tbody>
			</table>
		</div>
	</div>
    
{% endblock %}