<div class="col-xs-12 well">
        <ul class="nav nav-list">
            <li align="center">
                <a href="{{ path('fos_user_profile_show') }}">Mes informations</a>
            </li>
            <li align="center">
                <a href="{{ path('fos_user_profile_edit') }}">Editer mes informations</a>
            </li>
            <li align="center">
                <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
            </li>
            <li align="center">
                <a href="#">Mes factures</a>
            </li>
            <li align="center">
                <a href="#">Mes adresses</a>
            </li>
            <li align="center">
                <a href="{{ path('user_role') }}">Gestion des rôles</a>
            </li>
            <li align="center">
                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            </li>
        </ul>
</div>