{% extends "::layout/layout.html.twig" %}
{% block title %}Détails - BDE Exia{% endblock %}

{% block body %}

    <br>
    <div class="row">
        <!-- espace -->
        <div class="col-xs-12 col-md-2"></div>

        <!-- contenu de la page -->
        <div class="col-xs-12 col-md-8 thumbnail">
            <div class="col-xs-12">

                <!-- Illustration de l'article -->
                <div class="col-xs-12 col-sm-4">
                    <img src="{{ asset(article.media.urlMedia) }}" class="img-responsive">
                </div>

                <!-- Espace -->
                <div class="col-sm-1"></div>

                <!-- Détails de l'article -->
                <div class="col-xs-12 col-sm-7">
                    <h3>{{ article.nomArticle }}</h3>
                    <p>{{ article.prixArticle }} €</p>
                    <div class="btn-group-justified btn-group-sm">
                        <a class="btn btn-default" role="button" href="">Ajouter au panier</a>
                        {% if is_granted('ROLE_CESI') %}
                            <a class="btn btn-danger active" role="button" href="{{ path('edition_article') }}">Editer</a>
                        {% endif %}
                        {% if is_granted('ROLE_CESI') %}
                            <a class="btn btn-danger active" role="button" href="{{ path('suppression_article', {'id':article.id}) }}">Supprimer</a>
                        {% endif %}
                    </div>
                    <div class="col-xs-12">
                        <p></p>
                    </div>
                    <!-- Descriptions de l'article -->
                    <div class="col-xs-12">
                        <p>{{ article.descriptionArticle }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- panier -->
        <div class="col-xs-12 col-md-2">
            <div class="well">
                <h4>Panier</h4>
                3 item - 44,99 €
                <div class="">
                    <p>Sweat Exia x 1 <span class="pull-right">20 €</span></p>
                    <p>Sweat sans Capuche Exia x 1 <span class="pull-right">15 €</span></p>
                    <p>Carnet Exia x 1 <span class="pull-right">9,99 €</span></p>
                    <a href="#" class="btn btn-default">Commander</a>
                </div>
                <div>
                    <a href="#" class="btn btn-default">Commander</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}