{% extends "::layout/layout.html.twig" %}
{% block title %}Boutique - BDE Exia{% endblock %}

{% block body %}
<div class="row">
			<!-- Catégories -->

            <div class="col-xs-12 col-sm-3 col-md-2 well">

					<div class="col-xs-6 col-md-12 col-lg-6"><strong>Catégories : </strong></div>

					<div class="col-xs-6 col-md-12 col-lg-6">
                        {% if is_granted('ROLE_CESI') %}
						<a href="{{ path('ajout_categorie') }}" class="btn btn-danger active">Ajouter</a>
                        {%endif %}
					</div>

                {% for categorie in categories |slice(0,2) %}
					</br>
					<div class="col-xs-6 col-md-12 col-lg-6"><a href="">{{ categorie.nomCat }}</a></div>

					<div class="col-xs-6 col-md-12 col-lg-6">
                    {% if is_granted('ROLE_CESI') %}
						<a href="" class="btn btn-danger active suppr">Supprimer</a>
                    {%endif %}
					</div>

                {% endfor %}

					<div class="col-xs-12">
                        {% if is_granted('ROLE_CESI') %}
						<a href="{{ path('ajout_article') }}" class="btn btn-danger active">Ajouter un article</a>
                        {%endif %}
					</div>


            </div>

			<!-- Boutique -->
            <div class="col-sm-8">
				<br>
				<div class="col-xs-12">
					<div class="col-xs-12 col-sm-3 produit"><h4>Boutique</h4></div>
					<!-- Titre et barre de recherche -->
					<div class="col-xs-12 col-sm-offset-2 col-sm-7">
						<div class="form-group ">
							<div class="input-group input-group-md">
								<input type="text" placeholder="Texte" name="" id="schbox" class="form-control">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default btn-md btnresearch">Rechercher</button>
								</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Vignettes contenant les articles -->

				{% for article in articles %}
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="thumbnail">
						<!-- informations sur l'article -->
						<div class="caption">
							<h4>{{ article.nomArticle }}<h4>
							<h5>{{ article.prixArticle }} €</h5>
						</div>
						<!-- illustration principale de l'Articleicle -->
						<div class="produit"><img src="{{ asset(article.media.urlMedia) }}" alt="Image" width="150" height="150"></div>
						<br>
						<!-- barre de boutons pour la gestion -->
						<div class="btn-group-justified btn-group-sm">
							<a class="btn btn-default" role="button" href="{{ path('article') }}">Détail</a>
							{% if is_granted('ROLE_CESI') %}
							<a class="btn btn-danger active" role="button" href="{{ path('edition_article') }}">Editer</a>
							{%endif %}
							{% if is_granted('ROLE_CESI') %}
							<a class="btn btn-danger active produit suppr" role="button" href="{{ path('suppression_article', {'id':article.id}) }}">Supprimer</a>
							{%endif %}
						</div>
					</div>
				</div>
				{% endfor %}

            </div>




        <div class="popupconfirmation" title="Titre de la fenêtre">
    		<p>Désirez-vous vraiment supprimer cet item ?</p>
		</div>

		{% for flash_message in app.session.flashBag.get('success') %}
			    <div class="alert alert-success">
			        {{ flash_message }}
			    </div>
			{% endfor %}

			{% for flash_message in app.session.flashBag.get('error') %}
			    <div class="alert alert-danger">
			        {{ flash_message }}
			    </div>
			{% endfor %}

            
			<!-- Panier -->
            <div class="col-xs-12 col-md-2">
				<div class="well">
					<h4>Panier</h4>
					3 item - 54,27 €
					<div class="">
						<p>Item x 1 <span class="pull-right">18,09 €</span></p>
						<p>Item x 1 <span class="pull-right">18,09 €</span></p>
						<p>Item x 1 <span class="pull-right">18,09 €</span></p>
						<a href="#" class="btn btn-default">Commander</a>
					</div>
				</div>
			</div>
        </div>
{% endblock %}
