<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-3.3.7-dist/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('js/jquery-ui-1.12.1/jquery-ui.css') }}"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/logo-bde-exia-st-5-rouge2.png') }}" />
    </head>
    <body>
    <div class="container-fluid">

        <header>
            <div class="row rowhead">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!--BARRE DE NAVIGATION-->
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li class="linav"> <a href="{{ path('bde') }}">BDE</a> </li>
                                    <li class="linav"> <a href="{{ path('boutique') }}">Boutique</a> </li>
                                    <li class="dropdown linav">
                                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activités <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('all_activite') }}">Toutes les activités</a></li>
                                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                                <li><a href="{{ path('proposer_activite') }}">Proposer une activité</a></li>
                                                <li><a href="{{ path('vote_activite') }}">Voter pour une activité</a></li>
                                                {% if is_granted("ROLE_CESI") or is_granted("ROLE_BDE") %}
                                                <li><a href="{{ path('creation_activite') }}">Créer une activité</a></li>
                                                <li><a href="{{ path('validation_activite') }}">Liste des activités à valider</a></li>
                                                {%endif%}
                                            {%endif%}
                                        </ul>
                                    </li>
                                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                    <li class="linav"> <a href="{{ path('photo') }}">Photos</a> </li>
                                    {%endif%}
                                    <li class="linav"> <a href="{{ path('association') }}">Associations</a> </li>
                                    <li class="linav"> <a href="{{ path('contact') }}">Contact</a> </li>

                                </ul>
                                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="linav"> <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-user"></span> Se déconnecter</a> </li>
                                </ul>
                                {%else%}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="linav"> <a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-user"></span> Se connecter</a> </li>
                                    <li class="linav"> <a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-log-in"></span> S'inscrire</a> </li>
                                </ul>

                                {%endif%}
                            </div>
                        </div>
                    </nav>
                </div>

                <!--LOGO BDE-->
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                    <a href="{{ path('index') }}">
                        <img src="{{ asset('img/logo-bde-exia-st-5-rouge2.png') }}" alt="Logo" class="img-rounded logoentr">
                    </a>
                </div>

                <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-8 col-lg-offset-8 col-xs-2 col-sm-2 col-md-1 col-lg-1">
                    <div class="bonjour">
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <p>  Bonjour <b>{{ app.user.username }}</b></p>
                        {%endif%}
                    </div>
                </div>

                <!-- AVATAR-->
                <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                    <a href="{{ path('fos_user_profile_edit') }}">
                        <img src="{{ asset('img/deco.png')}}" alt="Logo" class="img-rounded avatar">
                    </a>
                </div>

                <!--TITRE-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <h1 class="h1">BDE de l'Exia Cesi Strasbourg</h1>
                </div>

                <!-- BARRE DE RECHERCHE 1 -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 research">
                    <div class="form-group ">
                        <div class="input-group input-group-md">
                            <input type="text" placeholder="Texte" name="" id="schbox" class="form-control">
                            <span class="input-group-btn">
		            			<button type="submit" class="btn btn-default btn-md btnresearch">Rechercher</button>
		        			</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% block body %}{% endblock %}

        <!-- BARRE ROUGE-->
        <hr>

        <footer class="foot">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="imgfooter">
                        <a target="_blank" href="https://exia.cesi.fr/"><img src="{{ asset('img/Logo - exia.CESI - 2578x1351px -  71,0Ko.png') }}" class="img-responsive" alt="LogoExia"></a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-8 col-md-3 col-lg-2">
                    <p>Tout droits réservés - Groupe 7 - 2017</p>
                </div>

                <div class="col-xs-6 col-sm-4 col-sm-4 col-md-2 col-lg-2 imgreseausociaux">
                    <a target="_blank" href="https://www.facebook.com/BdeExiaStrasbourg/"><img src="{{asset('img/facebook_rouge.png') }}" alt="logoreseausociaux" class="img-rounded imgfb"></a>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 imgreseausociaux">
                    <a target="_blank" href="https://twitter.com/BdeExiaStrg"><img src="{{ asset('img/twitter_rouge.png') }}" alt="logoreseausociaux" class="img-rounded imgtw"></a>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <p class="mentions_legales"> <a target="_blank" href="{{ path('mentions_legales')}}" class="ment_leg">Mentions légales </a></p>
                </div>
            </div>
        </footer>

    </div>

        <script src="{{ asset('js/jquery-3.2.0.js') }}"></script>
        <script src="{{ asset('js/jquery-ui-1.12.1/jquery-ui.js') }}"></script>
        <script src="{{ asset('css/bootstrap-3.3.7-dist/js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
