{% extends "::layout/layout.html.twig" %}
{% block title %}Détails activité - BDE Exia{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-offset-2 col-md-8 col-lg-8">
            <h2 class="h2">Activité</h2>
            <hr>

            <div id="activity" class="col-md-12 col-lg-12">
                <form class="cssform" action="">

                    <div class="row">
                        <div class="col-md-5 col-lg-5">
                            <p><label for="activityname">Nom de l'activité :</label>
                                <input class="form-control" type="text" id="activityname" value="" /></p>
                        </div>
                        <div class="col-md-7 col-lg-7">
                            <div class="col-lg-offset-2 col-lg-10">
                                <p>Cette activité a lieu le : </p>
                                <div class="row">
                                    <div class="col-md-5 col-lg-5">
                                        <p><label for="activitydate1">Date :</label>
                                            <input  type="date" id="activitydate1" value="" /></p>
                                    </div>
                                    <div class="col-md-5 col-lg-5">
                                        <p><label for="activitytime1">Heure :</label>
                                            <input  type="time" id="activitytime1" value="" /></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <div class="form-inline">
                                <label for="charger_image">Charger une photo</label>
                                <input role="button" type="file" class="form-control-file btn btn-danger active" id="charger_image"><br>
                            </div>
                        {%endif%}
                        </div>
                    </div>

                    <div class="col-lg-12">
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <div class="row">
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                            <div class="col-md-2 col-lg-2"><p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                <button>Like</button>
                                <button>Comment</button></div>
                        </div>
                    {%endif%}
                    </div>

                    <div class="row">
                        <div id="description" class="col-md-12 col-lg-12">
                            <br><p><label for="comments">Description :</label>
                                <textarea class="form-control" id="comments" rows="5" cols="25"></textarea></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}