{% extends "::layout/layout.html.twig" %}
{% block title %}Les activités - BDE Exia{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-md-2"></div>

        <div class="col-xs-12 col-md-8">
            <h2 class="h2">Nos activités : </h2>
            <hr>

            <div class="col-xs-12">
                <div class="col-xs-12 col-md-2">
                    <p> <h4><a href="{{ path('nouvelle_activite') }}" class="newactivity">Les activités à venir :</a></h4></p>
                </div>
                <div class="col-xs-12 col-md-10">
                    <div id="activity1" class="col-xs-12">
                        <form class="cssform" action="">
                            {% for activite in activites %}
                                {% if "now"|date('m/d/Y') < activite.dateActivite|date('m/d/Y') %}
                                    <div class="col-xs-12">
                                        <h4><a target="_blank" href="{{ path('activite') }}" class="activitenomart">{{ activite.nomActivite }}</a></h4>
                                        <h5>{{ activite.dateActivite|date('d/m/Y') }}</h5>
                                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                        <button type="submit" class="btn btn-default btn-md" id="popupinscription">S'inscrire</button>
                                    {% endif %}
                                        <p><label for="comments1">Description :</label></p>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="col-xs-12 col-md-9">
                                            <textarea class="form-control" id="comments1" rows="5" cols="25">{{ activite.descriptionActivite }}</textarea>
                                        </div>
                                        <div class="col-md-3">
                                            <p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <br>
                <div class="col-xs-12 col-md-2">
                    <p><h4><a href="{{ path('ancienne_activite') }}" class="oldactivity">Les activités passées :</a></h4></p>
                </div>
                <div class="col-xs-12 col-md-10">
                    <div id="activity2" class="col-xs-12">
                        <form class="cssform" action="">
                            {% for activite in activites %}
                                {% if "now"|date('m/d/Y') > activite.dateActivite|date('m/d/Y') %}
                                    <div class="col-xs-12">
                                        <h4><a target="_blank" href="{{ path('activite') }}" class="activitenomart">{{ activite.nomActivite }}</a></h4>
                                        <h5>{{ activite.dateActivite|date('d/m/Y') }}</h5>
                                        <p><label for="comments2">Description :</label></p>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="col-xs-12 col-md-9">
                                            <p class="form-control" id="comments2" rows="5" cols="25">{{ activite.descriptionActivite }}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-xs-12 col-md-2"></div>
    </div>

    <div id="popupinformation" title="Inscription">
        <p>Avez vous une remarque à nous soumettre ?</p>
        <textarea class="form-control" title="Inscription" id="textarea" rows="5" cols="25"></textarea>
    </div>



{% endblock %}