{% extends "::layout/layout.html.twig" %}
{% block title %}Activités Passées - BDE Exia{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-2"></div>

        <div class="col-xs-12 col-md-8">
            <h2 class="h2">Les activités passées : </h2>
            <hr>

            <div class="col-xs-12">
                <div class="col-xs-6 col-sm-2">
                    <p> <a href="{{ path('nouvelle_activite') }}" class="newactivity">Les activités à venir</a></p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p> <a href="{{ path('ancienne_activite') }}" class="oldactivity">Les activités passées</a></p>
                </div>
            </div>

            <div>
                <div class="col-xs-12">
                    <div id="activity1" class="col-xs-12">
                        <form class="cssform" action="">
                            {% for activite in activites %}
                                {% if "now"|date('m/d/Y') > activite.dateActivite|date('m/d/Y') %}
                                    <div class="col-xs-12">
                                        <a target="_blank" href="{{ path('activite') }}">{{ activite.nomActivite }}</a>
                                        <p><label for="comments1">Description :</label></p>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="col-xs-12 col-md-9">
                                            <p class="form-control" id="comments1" rows="5" cols="25">{{ activite.descriptionActivite }}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-xs-12 col-md-2"></div>
    </div>

{% endblock %}