{% extends "::layout/layout.html.twig" %}
{% block title %}Proposer activité - BDE Exia{% endblock %}

{% block body %}

    {% form_theme form _self %}

    {% block _tasks_entry_widget %}

        <div class="row">
            <div class="col-lg-offset-2 col-md-8 col-lg-8">
                <h2 class="h2">Proposez votre activité !</h2>
                <hr>

                <div id="activity" class="col-md-12 col-lg-12">
                    <form class="cssform" action="">
                        {{ form_start(form) }}

                        <div class="col-xs-12">
                            <div class="col-sm-6">
                                <p><label for="activityname">Nom de l'activité :</label>
                                    {{ form_widget(form.nomProposition) }}
                                    {{ form_errors(form.nomProposition) }}</p>

                                <p><label for="activityplace">Lieu :</label>
                                    {{ form_widget(form.lieuProposition) }}
                                    {{ form_errors(form.lieuProposition) }}</p>

                                <p><label for="activityprice">Prix :</label>
                                    {{ form_widget(form.prixProposition) }}
                                    {{ form_errors(form.prixProposition) }}</p>

                                <p><label for="comments">Description :</label>
                                    {{ form_widget(form.descriptionProposition) }}
                                    {{ form_errors(form.descriptionProposition) }}</p>
                                {#
                                <p><label for="comments">L'activité est-elle récurente ? </label></br>
                                    {{ form_widget(form.recurrenceProposition) }}
                                    {{ form_errors(form.recurrenceProposition) }}
                                    </p>

                                <p><label for="activityrecurence">Si oui, indiquer la récurence : </label></br>
                                    {{ form_widget(form.recurrenceComm) }}
                                    {{ form_errors(form.recurrenceComm) }}</p>
                                #}
                            </div>

                            <div class="col-sm-6">
                                <p>Champs à saisir (1 minimum)</p>

                                <div class="col-md-6 col-lg-6">
                                    <p><label for="activitydate1">Date :</label>
                                        {{ form_widget(form.date1Proposition) }}
                                        {{ form_errors(form.date1Proposition) }}</p>
                                    <p><label for="activitydate2">Date :</label>
                                        {{ form_widget(form.date2Proposition) }}
                                        {{ form_errors(form.date2Proposition) }}</p>
                                    <p><label for="activitydate3">Date :</label>
                                        {{ form_widget(form.date3Proposition) }}
                                        {{ form_errors(form.date3Proposition) }}</p>
                                </div>

                            </div>
                        </div>



                        <div class="col-xs-12">
                            <p align="center"><button type="submit" class="btn btn-default">Soumettre</button></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>


        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}

        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}

        {{ form_end(form) }}



    {% endblock %}
{% endblock %}